.about-container {
  width: 100%;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
.team-title {
  text-align: center;
  margin-bottom: 10px;
  color: #003580;
  text-shadow: 4px 3px 0px #7a7a7a, 2px 2px 2px rgba(100, 206, 51, 0), 2px 2px 2px rgba(100, 206, 51, 0);
  font-size: 40px;
  text-transform: uppercase;
}
.row {
  display: flex;
  width: 100%;
  justify-content: center;
}
.column {
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.column img {
  display: block;
  width: 100%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  padding-bottom: 20px;
}

.about-email{
  margin-bottom: 15px;
}
.about-btn{
  margin: 0px !important; 
}

.about-section {
  padding: 50px;
  text-align: center;
}

.info-about{
  padding: 20px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


@media screen and (max-width: 756px) {
  .about-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
  .team-title {
    margin-bottom: 2vw;
    font-size: 4rem;
  }
  .column img {
    display: block;
    width: 100%;
  }
  .card {
    margin: 1vw;
    padding-bottom:2vw;
    height: 100vh;
    position: relative;
  }

  .about-section {
    padding: 50px;
    text-align: center;
  }

  .container {
    padding: 0 16px;
  }

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 10px;
  }

  .button:hover {
    background-color: #555;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  .column {
    width: 100%;
    display: block;
  }
}
